%h1= t "Photos of some 3D object we printed", "Foto di alcuni oggetti stampati in 3D da noi"

.gallery
  - albums.each do |album|

    .album
      - img = album.cover.images[5]
      %a{ href: "/albums/#{album.name_url}" }
        %h1= album.name
        .img_box
          %img{ src: img["source"] }
        -# :escaped
        -#   #{album.cover.images[4]["source"]}
        -# %img{ src: "https://graph.facebook.com/#{album.cover_photo}/picture?type=album" }
