!!!
%head
  %meta{ charset: "utf-8" }/
  %title 3DMaking.it - 3D Printing Firenze
  %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
  %meta{ content: "3d making, 3d printing, makers, firenze, stampa 3d, stampanti 3d, 3d printer, florence, italy", name: "keywords" }/
  %meta{ content: "Francesco 'makevoid' Canessa", name: "author" }/
  %meta{ content: "1IuWAn47PLQ0AQpcJGeVQjqNMrfnnj-rFJOc7BawL3w", name: "google-site-verification" }/
  %meta{ content: "3D Making", property: "og:site_name" }/
  %meta{ content: "3D Making - #{t "make everything in 3D!", "stampa in 3D!"}", property: "og:title" }/
  %meta{ content: "http://3dmaking.it/img/3dmaking_logo_square.png", property: "og:image" }/
  %meta{ content: "http://3dmaking.it", property: "og:url" }/
  %meta{ content: "website", property: "og:type" }/
  %meta{ content: "makevoid", property: "fb:admins" }/
  - description = t "3DMaking offers 3D printing services in Florence, Italy! Send us your 3D models in STL format, we will print them mainly in ecologic plastic material (PLA) wit a good level of detail.", "3D Making offre servizi stampa in 3d, inviaci i tuoi modelli 3d in formato STL e li stamperemo in 3d in materiale plastico ecologico (PLA) con un buon livello di dettaglio."
  %meta{ content: description, property: "og:description" }/
  %meta{ content: description, name: "description" }/
%link{href: "/css/main.css", rel: "stylesheet" }/
.outer_cont

  %section.container
    .right
      - if en?
        %a{ href: "/" } Italian
      - else
        %a{ href: "/en" } English

    %h1 3DMaking

    %p.tagline
      - if en?
        3DMaking offers
        %strong 3D printing services
        in Florence, Italy! Visit our shop or send us an email.
        %br/
        We will be happy to turn your three dimensional ideas in reality :)
        %br/
        If you still don't have an idea of what to 3d print, you can search in
        %a{href: "http://thingiverse.com"} thingiverse
        and select an already made 3d model.
      - else
        3DMaking offre
        %strong servizi di stampa in 3D
        a Firenze! Visita il nostro shop o inviaci un'email!
        %br/
        Saremmo felici di trasformare le tue idee in oggetti 3d!
        %br/
        Se ancora non hai un'idea di cosa stampare, puoi andare su
        %a{href: "http://thingiverse.com"} thingiverse
        e scegliere un modello 3d gi&agrave; fatto.

    %p.normal
      %a{href: "https://www.facebook.com/3dmaking"}
        %img.icon{src: "/img/fb_icon.png"}/
      %a{href: "https://www.facebook.com/3dmaking"}
        Visita la nostra
        = succeed "!" do
          %strong pagina Facebook
    %section.shop
      %h1 Shop:
      %p
        %strong Firenze
        \- via F. Busoni 2/r
    %iframe{frameborder: "0", height: "300", marginheight: "0", marginwidth: "0", scrolling: "no", src: "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=via%2BFerruccio%2BBusoni%2B2%2C%2Bfirenze&ie=UTF8&z=16&t=m&iwloc=near&output=embed", width: "100%"}
    %a.right{href: "http://goo.gl/maps/mdwqC"} open in google maps

    %section.online_shop
      %h1 Online shop:
      %p
        = t "Upload your STL and have it printed! coming soon!", "Carica il file del modello (STL) e ordina la stampa 3d dell'oggetto contenuto."
    %p.normal
      = t "We use RepRap based printers. We strongly believe in Open Source (and Open Hardware), and we offer consultancy if you want to build your first 3D printer. Come and visit us or drop us a line.", "Usiamo stampanti basate sul progetto RepRap. Crediamo che l'Open Source (e l'Open Hardware) sia una soluzione, offriamo consulenza nell'assemblaggio della tua prima stampante 3D."
    %section.online_shop
      %h1
        = t("Contact us:", "Contattaci:")
      %p
        %a{href: "mailto:print@3dmaking.it"} print@3dmaking.it
    %section.gallery

      %h1 Albums

      - albums.each do |album|

        .album
          = album.name
          :escaped
            #{album.cover}


      %img{src: "/img/3dmaking_pic1.jpg"}/
      %img{src: "/img/3dmaking_pic2.jpg"}/
      %img{src: "/img/3dmaking_pic4.jpg"}/
    - fb_albums = "https://www.facebook.com/3dmaking/photos_albums"
    %p.tagline
      %a{href: fb_albums}
        %img.icon{src: "/img/fb_icon.png"}/
      %a{href: fb_albums}
        = t "see more photos on our facebook page!", "guarda le altre foto!"
    .clear
  %script{ type: "text/javascript", src: "/js/vendor/flowtype.js" }