%section.gallery
  #slides
    %img{ src: "/img/3dm1_printer/plate_view.jpg" }
    %img{ src: "/img/3dm1_printer/nema17_high_torque_skidproof_and_buda_nozzle.jpg" }
    %img{ src: "/img/3dm1_printer/printed_parts.jpg" }

%section.tagline
  %p
    = t "Make ideas into objects", "Trasforma le tue idee in oggetti"

%section.welcome
  - if en?
    :textile
      3DMaking is a lab specialized in 3D print. Rapid prototyping, customizable objects, "3D printers manufacturing":/printer_3dm1, tech assistance hardware and software are some of our services.
    %p
      If you still don't have an idea of what to 3d print, you can search in
      %a{href: "http://thingiverse.com"} thingiverse
      and select an already made 3d model.
  - else
    :textile
      3DMaking è un laboratorio specializzato nella stampa 3D. Prototipazione rapida, realizzazione di oggetti personalizzati, "produzione di stampanti 3D":/printer_3dm1, assistenza tecnica hardware e software sono alcuni dei servizi che offriamo.


    %p
      Se ancora non hai un'idea di cosa stampare, puoi andare su
      %a{href: "http://thingiverse.com"} thingiverse
      e scegliere un modello 3d gi&agrave; fatto.


/
  %section.gallery

    %h1= t "Photos of some 3D object we printed", "Foto di alcuni oggetti stampati in 3D da noi"

    - albums.each do |album|
      - next unless album.cover.images
      .album
        - img = album.cover.images[5]
        %a{ href: "/albums/#{album.name_url}" }
          %h1= album.name
          .img_box
            - vertical = img["width"] < img["height"]
            %img{ src: img["source"], class: "#{"vert" if vertical}" }
          -# :escaped
          -#   #{album.cover.images[4]["source"]}
          -# %img{ src: "https://graph.facebook.com/#{album.cover_photo}/picture?type=album" }

  .clear

/
  %section.online_shop
    %h1 Online shop:
    %p= t "Upload your STL and have it printed! coming soon!", "Carica il file del modello (STL) e ordina la stampa 3d dell'oggetto contenuto."
    %p= t "We are building the online shop, in the meantime, to order a 3D printed object just send us an email or a FB message!", "Stiamo lavorando sullo shop online, nel frattempo per ordinare un oggetto stampato in 3D, mandaci una mail o scrivici un messaggio su FB!"

%section.info
  /%img{ src: "/img/3dm1_printer/plate_view.jpg" }
  %p
    = t "We use RepRap based printers. We strongly believe in Open Source (and Open Hardware), and we offer consultancy if you want to build your first 3D printer. Come and visit us or drop us a line.", "Usiamo stampanti basate sul progetto RepRap. Crediamo che l'Open Source (e l'Open Hardware) sia una soluzione, offriamo consulenza nell'assemblaggio della tua prima stampante 3D."

%br
%hr

