
%p.tagline
  - if en?
    3DMaking offers
    %strong 3D printing services
    in Florence, Italy! Visit our shop or send us an email.
    %br/
    We will be happy to turn your three dimensional ideas in reality :)
    %br/
    If you still don't have an idea of what to 3d print, you can search in
    %a{href: "http://thingiverse.com"} thingiverse
    and select an already made 3d model.
  - else
    3DMaking offre
    %strong servizi di stampa in 3D
    a Firenze! Visita il nostro shop o inviaci un'email!
    %br/
    Saremmo felici di trasformare le tue idee in oggetti 3d!
    %br/
    Se ancora non hai un'idea di cosa stampare, puoi andare su
    %a{href: "http://thingiverse.com"} thingiverse
    e scegliere un modello 3d gi&agrave; fatto.


%section.gallery

  %h1= t "Photos of some 3D object we printed", "Foto di alcuni oggetti stampati in 3D da noi"

  - albums.each do |album|

    .album
      - img = album.cover.images[5]
      %a{ href: "/albums/#{album.name_url}" }
        %h1= album.name
        .img_box
          %img{ src: img["source"] }
        -# :escaped
        -#   #{album.cover.images[4]["source"]}
        -# %img{ src: "https://graph.facebook.com/#{album.cover_photo}/picture?type=album" }

  .clear

%section.online_shop
  %h1 Online shop:
  /
    %p
      = t "Upload your STL and have it printed! coming soon!", "Carica il file del modello (STL) e ordina la stampa 3d dell'oggetto contenuto."
  %p= t "We are building the online shop, in the meantime, to order a 3D printed object just send us an email or a FB message!", "Stiamo lavorando sullo shop online, nel frattempo per ordinare un oggetto stampato in 3D, mandaci una mail o scrivici un messaggio su FB!"

%p.normal
  = t "We use RepRap based printers. We strongly believe in Open Source (and Open Hardware), and we offer consultancy if you want to build your first 3D printer. Come and visit us or drop us a line.", "Usiamo stampanti basate sul progetto RepRap. Crediamo che l'Open Source (e l'Open Hardware) sia una soluzione, offriamo consulenza nell'assemblaggio della tua prima stampante 3D."
%section.online_shop
  %h1
    = t("Contact us:", "Contattaci:")
  %p
    %a{href: "mailto:print@3dmaking.it"} print@3dmaking.it

%p.normal
  %a{href: "https://www.facebook.com/3dmaking"}
    %img.icon{src: "/img/fb_icon.png"}/
  %a{href: "https://www.facebook.com/3dmaking"}
    Visita la nostra
    = succeed "!" do
      %strong pagina Facebook


%p.small
  3DMaking e' un progetto di
  %a{ href: "http://makevoid.com" } Makevoid
  e
  %a{ href: "http://ltestudio.it"  } LTE Studio

