!!!
%html{ lang: en? ? "en" : "it" }
  %head
    %meta{ charset: "utf-8" }/
    %title 3DMaking.it - 3D Printing Firenze
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
    %meta{ content: "3dmaking, 3d printing, makers, firenze, stampa 3d, stampanti 3d, 3d printer, florence, italy", name: "keywords" }/
    %meta{ content: "Francesco 'makevoid' Canessa", name: "author" }/
    %meta{ content: "1IuWAn47PLQ0AQpcJGeVQjqNMrfnnj-rFJOc7BawL3w", name: "google-site-verification" }/
    %meta{ content: "3DMaking", property: "og:site_name" }/
    %meta{ content: "3DMaking - #{t "make everything in 3D!", "stampa in 3D!"}", property: "og:title" }/
    %meta{ content: "http://3dmaking.it/img/3dmaking_logo_square.png", property: "og:image" }/
    %meta{ content: "http://3dmaking.it", property: "og:url" }/
    %meta{ content: "website", property: "og:type" }/
    %meta{ content: "makevoid", property: "fb:admins" }/
    - description = t "3DMaking, based in Firenze, Italy, is the team behind the 3d printer RepRap 3DM1.", "3DMaking e' il team che lavora al progetto della stampante 3d Reprap 3DM1"

    %meta{ content: description, property: "og:description" }/
    %meta{ content: description, name: "description" }/
  %link{href: "/css/main.css", rel: "stylesheet" }/
  %body{ class: body_class }
    .outer_cont

      %section.container
        .header
          .lang.right
            - @host = "3dmaking.it" if ENV["RACK_ENV"] == "production"
            - if en?
              %a{ href: "http://#{@host}" }    Italian
            - else
              %a{ href: "http://en.#{@host}" } English

          %h1
            %a{ href: "/"}
              %img{ src: "/img/3dm_logo_site.png"}
            %a.site_name{ href: "/"}
              %span.tred 3D
              %span.making Making

          %nav
            %a{ href: "/printer_3dm1" }= t "3D Printer", "Stampante 3D"
            %a{ href: "/printing_service" }= t "Get things printed", "Stampa 3D di oggetti"
            %a{ href: "/shop" } Shop
            %a{ href: "/photos" }= t "Photos", "Foto"
            %a{ href: "/team" } Team
            %a{ href: "/press" } Press
            %a{ href: "/contact" }= t "Contact", "Contatti"
          .clear

        %nav
          %a{ href: "/printer_3dm1" }= t "3DM1 - Our 3D Printer", "3DM1 - Stampante 3D"
          %a{ href: "/printing_service" }= t "Get things printed", "Stampa 3D di oggetti"
          -#%a{ href: "/photos" }= t "Photos", "Foto"
          -#%a{ href: "/team" } Team
          %a{ href: "/press" } Press
          %a{ href: "/contact" }= t "Contact", "Contatti"
        .content
          = yield

        .clear
    %script{ type: "text/javascript", src: "/js/vendor/jquery.js" }
    %script{ type: "text/javascript", src: "/js/vendor/jimagesloaded.js" }
    -# %script{ type: "text/javascript", src: "/js/vendor/zepto.js" }
    -# %script{ type: "text/javascript", src: "/js/vendor/flowtype.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }