%h1.title
  =t "Get our 3DM1 - desktop 3d printer", "STAMPANTE 3DM1"
  -#%span= t "RepRap project", ""

%h2
  = t "Order now your RepRap 3d printer".upcase, "ORDINA ADESSO LA TUA STAMPANTE 3D"
  
%section.gallery
  #slides
    %img{ src: "/img/3dm1_printer/plate_view.jpg" }
    %img{ src: "/img/3dm1_printer/nema17_high_torque_skidproof_and_buda_nozzle.jpg" }
    %img{ src: "/img/3dm1_printer/printed_parts.jpg" }  

//%img{ src: "/img/3dm1_printer_objects.jpg", style: "float: left; width: 40%; margin-right: 2%" }

.box.right
  %h1= t "Tech specs", "Caratteristiche tecniche"
  .boxed
    :textile
      - Estrusore 0.35mm, filamento da 1.75mm, PLA, ABS (stampe piccole), PVA, Nylon, etc..
      - Dimensioni di stampa di default: 19x22x19cm (estendibili se necessario)
      - Piatto e sottopiatto in acrilico (plexiglass)
      - Motori NEMA17 high torque, skidproof
      - Z Coupler e puleggie in alluminio
      - Estrusore Greg3
      - Firmware preinstallato e preconfigurato
      - Realmente Open Source (pezzi: "RepRap_3DM1":https://github.com/makevoid/RepRap_3DM1 , firmware: "3DM_Marlin_firmware":https://github.com/makevoid/3DM_Marlin_firmware )
      - Scheda Minitronics (disponibili anche Azteeg e Sanguinololu)
      - Barre M8, viteria M3
      - Alimentatore 12V 10A stabilizzato
      - Estrusore JHead
      - Resistore a "cartuccia" alta potenza
      - Opzionali: Piano riscaldato e/o LCD con SD card reader per stampa autonoma estendibile.
      
      <a class="btn" href="/open_source_3dm1">Open source</a>


.box.first
  %h1= t "Pros", "Punti di forza"
  .boxed
    :textile
      - Semplicita' della struttura
      - Montaggio veloce rispetto alle altre RepRap
      - Accelerazione da firmware adatta per buon rapporto qualita / velocita' e controllo vibrazioni
      - Scalabile nelle dimensioni (specialmente X e Z)
      - Costo contenuto
      - Disponibile sia in versione assemblata che in kit di montaggio
    
    

.box
  %h1= t "Get it", "Acquista"
  .boxed
    / 
    :textile
      Acquista ora la tua stampante 3Dm1 disponibile nelle versioni kit e assemblata direttamente via PayPal.
    
    = haml :"_button"
    
    :textile
      Oppure contattaci
      via mail: "print@3dmaking.it":mailto:print@3dmaking.it
      via facebook: "3D Making":https://www.facebook.com/3dmaking  (#{t "message", "messaggio"})

.clear









