:ruby
  title = @product[:name].to_s.split("_").join(" ")
  title = @product[:title_it] if @product[:title_it]

  
%a.btn{ href: "/categories/#{@product[:cat]}/products" } < #{t("back", "indietro")}
    
%section
  .right
    .box
      %h1= title
      .boxed
        
        .left
          %img{ src: "/img/products/1.jpg" }
        
        - specs = @product[tr(:specs)]
        - if specs && specs != ""
          - specs = specs.split(" - ").map{ |s| s.capitalize } 
          .box.right
            %h1 #{t "Tech specs", "Specifiche tecniche"}:
            .boxed
              /%p= specs
              %ul
                - for spec in specs
                  %li= spec
    
        .clear
        
        
        .description
          %p= @product[:description_it]

        .price 
          %span #{t "Price", "Prezzo"}:
          #{fmt_price @product[:price]} €
        = partial :button, product: @product
        .clear
    
     
  .left
    = haml :"_categories"