:ruby
  products = PRODUCTS.select{ |p| p[:cat] == @category.to_sym }

%a.btn{ href: "/shop" } < indietro

.cart
  = haml :"_button_view_cart"

%section
  .right
    .box
      %h1 #{ t "Products in:",  "Prodotti nella categoria:" } #{@category.humanize.upcase}
      %section.products
        %nav
          - if products.empty?
            - word = "prodotti"
            - word = "offerte" if @category == "offerte"
            Al momento non ci sono #{word} disponibili.
          - for product in products
            - @product = product
            = haml :"_product"


  .left
    = haml :"_categories"
