

%a.btn{ href: "/shop" } < indietro

%section
  .right
    .box
      %h1 #{ t "Products in:",  "Prodotti nella categoria:" } #{@category.humanize.upcase}
      %section.products
        %nav
          - for product in PRODUCTS
            %a{ href: "/products/#{product[:name]}" }
              %img{ src: "/img/thumbnail.png" }
              %span= product[:title_it]
          
  .left
    = haml :"_categories"
  