%a{ href: "/" } < go back
    
#renderArea

%p Costs (to client) settings:

%p printing_time: 1h = 4 euro
%p filament cost: our cost * 15


%p.title Filament lenght:
%p
  = @slicing.filament_meters
  meters

%p.title Filament cost (3dmaking):
%p
  = @slicing.filament_cost
  euro

%p.title Printing time:
%p
  = @slicing.printing_time.to_i
  minutes

%p.title Printing time cost (3dmaking):
%p
  = @slicing.printing_time_cost
  euro
  

%p.title 3D Editing
%form
  %select{ name: "3d editing" }
    %option{ value: "0" } none
    %option{ value: "1" } 20 minutes (+10 euro)
    %option{ value: "2" } 1h (+30 euro)
    %option{ value: "3" } 3h (+80 euro)

%p.title Total cost (client):
%p
  = @slicing.total_cost
  euro


%p.title Ship to:

%select
  %option Italy
  %option Europe
  %option World

%p.title Shipping Method:

%select
  %option Express courier (faster) 
  %option Standard Priority Mail (cheaper)
  
%p.title Shipping Cost:
%p xx euro

%p.title Total cost (to client, including shipping):
%p xx euro


%h2 Debug:

%p.title id:
%p= @slicing.id

%p.title File:
%p= @slicing.file

%p.title Command:
%p= @slicing.command

%p.title Output:
%p
  :textile
    #{@slicing.output}

%script{ src: "/vendor/sugar.js" }
%script{ src: "/vendor/jquery.js" }
%script{ src: "/vendor/three.js" }
%script{ src: "/vendor/gcode-model.js" }
%script{ src: "/vendor/gcode-parser.js" }
%script{ src: "/vendor/renderer.js" }
%script{ src: "/vendor/ui.js" }

:javascript
  openGCodeFromPath("/gcodes/#{@slicing.file}.gcode")
    